
.nav-link{
transition:all 0.2s
}
.nav-link:hover{
  border-bottom:2px solid rgba(92, 18, 132, 1);
  color:rgba(92, 18, 132, 1);
}
.p-color{
  background: rgba(92, 18, 132, 1);

}
.w-t-color{
color:white
}
.p-t-color{
color: rgba(92, 18, 132, 1);
}